* {
    margin: 0;
    font-family: Arial;
     border: border-box;
} 
/*box 1 */
.navbar{
    height: 60px;
     background-color: #0f1111; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(235, 180, 14, 0.968);
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select {
    height: 100%; /* Make both elements have the same height */
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1rem;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd68;
    color: #0f1111
}
/* box4 style */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box5 style*/
span{
    font-size: 0.7rem;
}
.navv-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */ /*icon lai vayera i lekheko sabai icon lai kaam lagxa yo div bhitra ko*/
.nav-cart i{
    font-size: 35px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-divs{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    /* content lai center maa launa */
    display: flex;
    align-items: center; /* content lai vertically center maa launa */
    justify-content: center;
    width: 80%;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-msg a {
    text-decoration: none;
    color: #0066c0; /* Adjust this to change the link color */
    padding-left: 5px;
}
/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #0066c0; 
}
/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
}
ul {
    margin-top: 20px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
}
.pages{
    padding-top: 15px;
}
.copyright{
    margin-top: 5px;
}